*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Century Gothic;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))url(https://images-na.ssl-images-amazon.com/images/I/51UW1849rJL._AC_SX679_.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #000000;
	padding: 10px 20px;
	border: 1px solid #transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #FFB6C1;
	color: #fff; 

}

/*
ul li.active a{
	background-color: #000000;
	color: #ddd;
}
*/

.logo img{
	float:left;
	width: 100px;
	height: auto;
	padding: 15px 25px;
}

.main{
	max-width: : 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.title h1{
	color: #000000;
	font-size:70px;
}

.button{
	position: absolute;
	top: 62%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.btn{
	border: 1px solid #000000;
	padding: 10px 30px;
	color: #000000;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #FFB6C1;
	color: #fff;
}

/*about*/

.about h1{
	position: absolute;
	top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	color: #000000;
	font-size:70px;
}

.about h2{
	position: absolute;
	color: #FFB6C1;
	top: 30%;
    left: 49%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.about p{
	position: absolute;
	font-size: large;
	top: 50%;
    left: 50%;
    right: 5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.about h3{
	position: absolute;
	font-size: x-large;
	color: #FFB6C1;
	top: 70%;
    left: 49%;
    right: 37%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


/*reminders2*/

.reminder{
	position: absolute;
	top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	color: #000000;
	font-size:50px;
}

.todo ul{
	margin: 40;
	padding:0;
}
.todo ul li{
	cursor: pointer;
  	display: block;
  	position: relative;
  	bottom: 230px;
  	padding: 10px 1160px 12px 12px;
  	background: #eee;
  	font-size: 18px;
  	transition: 0.2s;

  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;

}

/* Set all odd list items to a different color (zebra-stripes) */
.todo ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.todo ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.todo ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.todo ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 10px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;

}


/* Style the header */
.header {
  background-color: #fff;
  padding: 250px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #FFB6C1;
  color: #fff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

/*profile*/
.profile-card{
	width: 450px;
	padding-top: 100px;
	margin: auto;
	background: #FFB6C1;
	background-size: auto;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}

.image-container{
	position: relative;
}

.image-container h2{
	position: relative;
	top: 230px;
	right:10px;
}

.info{
	color: #fff;
	margin-right: 16px; 
}

.main-container{
	position: relative;
	padding:30px;
	right: 20px;
	left: 5px;
}


.skill-bar{
	background-color: #bdc9ea;
	border-radius: 16px;
}

.progress-bar{
	padding: o.1em 16px;
	border-radius: 16px;
	text-align: center;
	color: #000;
	background-color: #fff;
}




